{% extends "::base.html.twig" %}
{% block title %}List All Offers{% endblock %}

{% block body %}

<h3 class="heading">{{ header }} <a href="/admin/create/offer">Add New Offer</a></h3>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="flash-notice success">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-notice error">
        {{ flashMessage }}
    </div>
{% endfor %}

<table id="myTable" class="table table-striped">
<thead>

{# sorting of properties based on query components #}
    <tr>		
		<th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
		<th{% if pagination.isSorted('a.detail1') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Detail One', 'a.detail1') }}</th> 
        <th{% if pagination.isSorted('a.detail2') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Detail Two', 'a.detail2') }}</th>       
		<th>&nbsp;</th>		  
		<th>&nbsp;</th>	 
        <th>&nbsp;</th>        
	</tr>
</thead>
{# table body #}
<tbody>
{% for offer in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>    
    <td>{{ offer.title }}</td>
    <td>{{ offer.detail1 }}</td>
    <td>{{ offer.detail1 }}</td>
    <td class="editbuttoninlist">		      
        <a href="/admin/update/offer/{{offer.id}}" class="btn btn-sm btn-primary">
            <i class="fa fa-edit"></i>Edit
        </a>    
	</td>
	<td class="deletebuttoninlist">		          
        <a href="/admin/delete/offer/{{offer.id}}" class="btn btn-sm btn-danger deleteRowData">
            <i class="fa fa-trash-o"></i>Delete
        </a>   
	</td>      
	<td class="showhideinlist">	 
        {% if offer.enabled == 1 %}         
            <a href="/admin/offer/hide/{{offer.id}}" class="btn btn-sm btn-info hideButton">
                <i class="fa fa-eye-slash"></i>Hide
            </a>
        {% else %} 
            <a href="/admin/offer/show/{{offer.id}}" class="btn btn-sm btn-warning showButton">
                <i class="fa fa-eye"></i>Show
            </a> 
        {% endif %}  
	</td>   
</tr>
{% endfor %}
</tbody>
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}







