{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony Demo Application{% endblock %}</title>                 
             <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
             <link rel="stylesheet" href="{{ asset('css/loginpage.css') }}">         
 
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">        

        <div class="container body-container">
            {% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
        </div> 
            <script src="{{ asset('js/bootstrap-3.3.4.min.js') }}"></script> 
            <script src="{{ asset('js/loginpage.js') }}"></script> 
    </body>
</html>
