{% extends "::base.html.twig" %}

{% block title %}AppBundle:Lesson:create{% endblock %}


{% block body_id 'lesson_new' %}

{% block main %}
{% block body %}
<h4 class = "heading">{{ header }} <a class="listall" href="{{ url }}">{{ title }}</a></h4>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% if header == 'Add New Lesson' %}
<input type="hidden" id = "maxWidth" value = "{{ maxWidth }}" />
<input type="hidden" id = "maxHeight" value = "{{ maxHeight }}" />
<input type="hidden" id = "minWidth" value = "{{ minWidth }}" />
<input type="hidden" id = "minHeight" value = "{{ minHeight }}" />
<input type="hidden" id = "maxSize" value = "{{ maxSize }}" />
{% endif %}
{% endblock %}
{% endblock %}

