{% extends "::base.html.twig" %}
{% block title %}AppBundle:Lesson:create{% endblock %}

{% block body %}

<h3 class="heading">{{ header }} <a href="/admin/create/lesson">Add New Lesson</a></h3>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="flash-notice success">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-notice error">
        {{ flashMessage }}
    </div>
{% endfor %}

<table id="myTable" class="table table-striped">
<thead>

{# sorting of properties based on query components #}
    <tr>		
		<th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
		<th{% if pagination.isSorted('a.detail') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Detail', 'a.detail') }}</th>        
        <th>Image</th>
		<th>&nbsp;</th>		  
		<th>&nbsp;</th>	 
        <th>&nbsp;</th>       
        <th>&nbsp;</th>
        <th>&nbsp;</th>
	</tr>
</thead>
{# table body #}
<tbody>
{% for lesson in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>    
    <td>{{ lesson.title }}</td>
    <td>{{ lesson.detail }}</td>
    <td><img src = "{{ asset(thumblocation ~ '/' ~ lesson.filename) }}" /><td>
    <td class="editbuttoninlist">		      
        <a href="/admin/update/lesson/{{lesson.id}}" class="btn btn-sm btn-primary">
            <i class="fa fa-edit"></i>Edit
        </a>    
	</td>
	<td class="deletebuttoninlist">		          
        <a href="/admin/delete/lesson/{{lesson.id}}" class="btn btn-sm btn-danger deleteRowData">
            <i class="fa fa-trash-o"></i>Delete
        </a>   
	</td> 
    <td class="changebuttoninlist">               
        <span class="btn btn-sm btn-success" onClick="changeImage({{ lesson.id }},{{ loop.index }},{{ lesson.colspan }},'/admin/changeimage/lesson/{{ lesson.id }}',this, {{ lesson.maxWidth }}, {{ lesson.maxHeight }}, {{ lesson.minWidth }}, {{ lesson.minHeight }}, {{ lesson.maxSize }})">
            <i class="fa fa-picture-o"></i>Change Image
        </span>   
    </td>   
	<td class="showhideinlist">	 
        {% if lesson.enabled == 1 %}         
            <a href="/admin/lesson/hide/{{lesson.id}}" class="btn btn-sm btn-info hideButton">
                <i class="fa fa-eye-slash"></i>Hide
            </a>
        {% else %} 
            <a href="/admin/lesson/show/{{lesson.id}}" class="btn btn-sm btn-warning showButton">
                <i class="fa fa-eye"></i>Show
            </a> 
        {% endif %}  
	</td> 
    <td class="showhideinlist">  
        {% if lesson.display == 1 %}         
            <a href="/admin/lesson/hideonhome/{{lesson.id}}" class="btn btn-sm btn-info hideButton">
                <i class="fa fa-eye-slash"></i>Home Page (Hide)
            </a>
        {% else %} 
            <a href="/admin/lesson/showonhome/{{lesson.id}}" class="btn btn-sm btn-warning showButton">
                <i class="fa fa-eye"></i>Home Page (Show)
            </a> 
        {% endif %}  
    </td> 
</tr>
{% endfor %}
</tbody>
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}







